body{    
    font-family:"Montserrat";
    font-weight: 400;
}
h1{
    font-family:"Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-weight: 600;    
    font-size: 2rem;
    line-height: 1.5;
}

h3{
    font-weight: 600;
    font-size: medium;
    color: rgba(0, 0, 0, 0.733);
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 8%;
}



.present{
    padding-bottom: 13px;
}

.present:hover{
    color:#ff4c68;

}


.navbar{
    padding: 0 0 4.5rem 0;

}



.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Ubuntu";
    font-weight: lighter;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.iphone{
width: 60%;
transform: rotate(25deg);
position: absolute;
right: 25%;
}


.feature-box{
    color: grey;
    text-align: center;
    padding:2%;
}



#features{
    padding: 7% 7%;
    background-color: #fff;
    position: relative;    
    z-index: 1;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item{

    padding: 7% 15%;
}
.testimonial-image{
    width:20%;
    border-radius: 100%;
    padding:1%;
}
#press{    
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
     width:15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
    padding:3% 2%;
}
.card-header{

background-color: #ff4c68;
}

@media (max-width:1000px){
    #title{
        text-align: center;
    }

    .iphone{
        position: static;
        transform: rotate(0);
    }
}



/* <!-- Footer --> */

#footer{
    text-align: center;
    padding: 3% 15%;
}

.symbol{
    padding: 2%;
    color: rgba(0, 0, 0, 0.65);
}

.foot{
    font-family: "Ubuntu";
    color: gray;
}